$dark-navy: #212b4e;
$dark-red: #b12418;

$white: #ffffff;

$grey-100: #f3f3f3;
$grey-200: #e9e9e9;
$grey-300: #d3d3d3;
$grey-400: #bcbcbc;
$grey-500: #a6a6a6;
$grey-600: #909090;
$grey-700: #737373;
$grey-800: #565656;
$grey-900: #393939;
$black: #1c1c1c;

$primary-light: #5273a7;

$shadow-color: rgba(black, 0.1);
$shadow-color-light: rgba(black, 0.1);

$shadow-base: 0px 4px 4px $shadow-color;
$shadow-dropped: -6px -25px 35px $shadow-color;
$shadow-diffuse: 0px 0px 20px $shadow-color-light;

$primary: $dark-navy;
$secondary: $dark-red;
$tertiary: $grey-100;
$title-primary: $dark-red;
$tooltip-color: $grey-900;
