@import "typography.scss";

@font-face {
  font-family: "Helvetica Neue";
  font-weight: $font-weight-bold;
  font-style: normal;
  src: url("../../assets/HelveticaNeue-Bold.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: $font-weight-normal;
  font-style: italic;
  src: url("../../assets/HelveticaNeue-BoldItalic.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: $font-weight-bold;
  font-style: italic;
  src: url("../../assets/HelveticaNeue-BoldItalic.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: $font-weight-condensed;
  font-style: normal;
  src: url("../../assets/HelveticaNeue-CondensedBold.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/HelveticaNeue.ttf");
}
