@import "../app/stylesheets/styles.scss";

.header {
  width: 90%;
  margin-top: 32px;
  padding: 12px;
  border-radius: 8px;
}

h2 {
  @include title-xxlarge;
  text-align: center;
  color: $dark-navy;
  cursor: pointer;
}

p {
  @include paragraph;
  margin-top: 32px;

  text-align: left;
}

app-login-form {
  padding: 12px;
  margin-top: 32px;
  border-radius: 8px;
  background-color: #ffffff;
}