<!-- <h1>Wesh MPG</h1>

<button (click)="onMembers()">Members</button>
<button (click)="onLeagueData()">Data</button>
<button (click)="onSimulation()">Simul</button>

<br />

<button (click)="onLogData()">Log Data</button> -->
<div class="header" [class.mat-elevation-z2]="true" *ngIf="!isTable">
  <h2>Calculateur de chance à MPG</h2>
  <p>
    <i>
      Rageant de perdre 4-3 puis de gagner la semaine suivante 5-0 ?
      <br />Rageant d'affronter ton pote qui a Neymar et WBY alors que la
      semaine suivante ils sont blessés et comme par hasard c'est le leader qui
      affronte ce pote ?</i
    >
    <br /><br />
    <b>Bienvenu sur le calculateur de chance à MPG. </b>
    <br /><br />
    <li>
      Rentre tes données de connexion MPG et lance des simulations sur des
      milliers de calendrier aléatoires pour savoir combien de points toi et tes
      potes devriez avoir en moyenne sur des saisons différentes. <br />
    </li>
    <li>
      Je prends en compte à chaque journée du calendrier le 11 final aligné par
      chaque joueur, puis je simule 10000 calendriers différents où s'affrontent
      les membres de la ligue. J'essaie de voir qui aurait été champion si le
      calendrier avait été différent. <br />
    </li>
    <li>
      Du coup je prends pas en compte le fait que ton Toko Ekambi reste sur le
      banc parce que le titu a eu 5.5 et que tu as mis changement tactique à
      5.25. ça c'est tant pis pour toi et quasiment impossible à mesurer.
    </li>
  </p>
</div>
<app-login-form
  *ngIf="!isLogin"
  [class.mat-elevation-z8]="true"
></app-login-form>
<br />
<br />
<div class="league-selection">
  <app-user [user]="user$ | async"></app-user>
  <app-leagues [leagues]="leagues$ | async"></app-leagues>
  <app-table id="table" [table]="table$ | async"></app-table>
</div>
