@import "./app/stylesheets/colors.scss";
@import "./app/stylesheets/fonts.scss";
@import "./app/stylesheets/mixins.scss";
@import "./app/stylesheets/typography.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
